#exportPattern("^[[:alpha:]]+")
export(GateFinder)
export(plot.GateFinder)
exportClass(GatingProjection)
importClassesFrom(flowCore, flowFrame)
importFrom(mvoutlier, pcout)
importFrom(diptest, dip.test)
importFrom(stats, prcomp)
importFrom(splancs,inout)
importFrom(flowCore,exprs)
importFrom(flowCore,polygonGate)
importFrom(flowFP, flowFPModel)
importFrom(flowFP, flowFP)
importClassesFrom(flowFP, flowFP)
importClassesFrom(methods, list, numeric, vector, matrix)
exportMethods(plot)
